<nav class="w-full bg-black">

</nav>

<header class="bg-black pt-3 lg:pt-0">
  <div class="lg:rounded-[4rem] rounded-[3rem] bg-home bg-cover bg-center h-screen lg:h-screen-4/5 flex flex-col p-10 mx-3 lg:mx-0">
    <!--Faux Nav-->
    <div class="flex">
      <%= image_tag "penn-air-logo-250.webp", alt: "", class: "lg:h-32 h-24"%>
    </div>
    <!--Main content-->
    <div class="flex flex-col justify-center h-full">
      <h1 class="lg:text-6xl text-5xl tracking-tight font-stretch-md">Aircraft Maintenance</h1>
      <h2 class="tracking-wide text-xl pt-3 pb-5 font-stretch-md">Penn Air Repair is Heritage Field's aircraft maintenance company</h2>
      <button class="btn-primary w-52" >CONTACT US</button>
    </div>
  </div>
</header>
<section class="bg-black py-10">
  <div class="lg:rounded-[4rem] rounded-[3rem] bg-neutral-100 flex flex-col items-center mx-3 lg:mx-0 p-10">
    <div class=" flex flex-col justify-center max-w-5xl">
      <div class="flex items-center pb-20">
        <h3 class="lg:w-3/5 text-xl font-semibold font-stretch-md">Experience in maintenance and repair for general aviation</h3>
        <div class="border-b-2 w-2/5 border-neutral-400 hidden lg:block"></div>
      </div>
      <div class="grid grid-cols-2 lg:grid-cols-4 self-center place-items-center gap-12">
        <%= image_tag "penn-air-cessna.webp", class: "lg:h-32 h-16", alt: "Cesssna Logo"%>
        <%= image_tag "penn-air-piper.webp", class: "", alt: "Piper Logo"%>
        <%= image_tag "penn-air-beechcraft.webp", class: "", alt: "Beechcraft Logo"%>
        <%= image_tag "penn-air-mooney.webp", class: "", alt: "Mooney Logo"%>
        <%= image_tag "penn-air-lycoming.webp", class: "", alt: "Lycoming Logo"%>
        <%= image_tag "penn-air-continental.webp", class: "", alt: "Continental Logo"%>
        <%= image_tag "penn-air-rotax.webp", class: "", alt: "Rotax Logo"%>
        <%= image_tag "penn-air-hartzell.webp", class: "", alt: "Hartzell Logo"%>
      </div>
    </div>
  </div>
</section>
<section class="bg-black text-white">
  <div class="p-10">
  asd
  </div>
</section>